body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.App {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0; /* Updated background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #4285f4; /* Updated heading color */
}

.counter {
  margin-top: 20px;
}

button {
  background-color: #ff4081; /* Updated button color */
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #d81b60; /* Updated button hover color */
}

.filter-list {
  margin-top: 20px;
}

.dropdown-button {
  margin-right: 10px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #ffb74d; /* Updated list item color */
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #ff9800; /* Updated list item hover color */
}

/* Existing styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  fill: #e57373; /* Updated logo color */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ec407a; /* Updated header text color */
}

.App-link {
  color: #42a5f5; /* Updated link color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  position: relative;
  display: flex;
  left: 33%;
  gap: 15px;
}
